body {
  background-color: #FFEBD9;
  margin: 0;
  color: #235952;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6.5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #00AD7C;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.ss {
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #064663;
}

.top {
  background-color: #ECFBFC;
  padding-top: 100px;
}

.middle-container {
  background-color: #FFEBD9;
  padding: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  line-height: 2;
  padding: 5%;
}

.c1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.c2 {
  position: absolute;
  top: 70px;
  right: 300px;
}

p {
  line-height: 2;
  margin: 0;
  color: #40514E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.sk {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sm {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  width: 7%;
  border-width: 5px;
  margin: 100px auto;
}

.footer-link {
  color: #11999E;
  line-height: 2;
  margin: 20px 20PX;
  text-decoration:none;
}
a:hover{
  color: #E4EFE7;
}

.intro {
  width: 30%;
  margin: 0 auto;
}

.contact {
  width: 30%;
  margin: 50px auto;
}
.K{color: #F6F6F6;
  font-size: 0.75rem;
  margin-top: 20px;
}

.btn {
  background: #1aeb74;
  background-image: -webkit-linear-gradient(top, #1aeb74, #27c2d6);
  background-image: -moz-linear-gradient(top, #1aeb74, #27c2d6);
  background-image: -ms-linear-gradient(top, #1aeb74, #27c2d6);
  background-image: -o-linear-gradient(top, #1aeb74, #27c2d6);
  background-image: linear-gradient(to bottom, #1aeb74, #27c2d6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #793cfc;
  background-image: -webkit-linear-gradient(top, #793cfc, #28d5db);
  background-image: -moz-linear-gradient(top, #793cfc, #28d5db);
  background-image: -ms-linear-gradient(top, #793cfc, #28d5db);
  background-image: -o-linear-gradient(top, #793cfc, #28d5db);
  background-image: linear-gradient(to bottom, #793cfc, #28d5db);
  text-decoration: none;
}
